<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOKO ELXTRO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <!-- Favicons -->
    <link href="{%static 'img/logo.svg'%}" rel="icon">
</head>
<body>
    <!-- Modal -->
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}" style="text-decoration: none; color: #6C9E03; display: flex; gap: 10px; align-items: center;">
                <img src="{% static 'img/logo.svg' %}" alt="">
                <h3>TOKO ELXTRO</h3>
             </a>
        </div>
    </nav>
    <!-- conten -->
    <div class="container">
        <div class="content1">
            <div class="title">
                <h3>Checkout</h3>
                <p>Hello 👋 {{user}}</p>
            </div>
            
        </div>

        <div class="content2">
            <!-- cart.html -->
            <div class="order">
                {% if cart_items %}
                    {% for item in cart_items %}
                        <div class="cart">
                            <img src="{{ item.produk.img_produk.url }}" alt="">
                            <div class="card">
                                <table>
                                    <tr>
                                        <td>Nama Produk</td>
                                        <td>: {{ item.produk.nama_produk }}</td>
                                    </tr>
                                    <tr>
                                        <td>Kategori</td>
                                        <td>: {{ item.produk.kategori }}</td>
                                    </tr>
                                    <tr>
                                        <td>Harga</td>
                                        <td>: Rp. {{ item.produk.harga }}</td>
                                    </tr>
                                    <tr>
                                        <td>Stok </td>
                                        <td>: {{ item.produk.stok }} buah</td>
                                    </tr>
                                    <tr>
                                        <td>Jumlah </td>
                                        <td>
                                            <div class="qty">
                                                <button class="btn-kurang" data-produk-id="{{ item.produk.id }}">-</button>
                                                <p class="jumlah-item" data-produk-id="{{ item.produk.id }}">{{ item.quantity }}</p>
                                                <button class="btn-tambah" data-produk-id="{{ item.produk.id }}">+</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                
                                <ion-icon name="close-circle" class="close-btn" data-produk-id="{{ item.produk.id }}"></ion-icon>
                                <div class="retings">
                                    <ion-icon name="star"></ion-icon> 
                                    {{ item.produk.rettings }}                            
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Keranjang belanja Anda kosong.</p>
                {% endif %}
            </div>


            <!-- summary -->
            <div class="summray">
                <div class="title">
                    <h3>Order Summary</h3>
                    <hr>
                </div>
                <table>
                    <tr>
                        <td style="width: 30%;">User</td>
                        <td>: <span id="nama-user"></span></td>
                    </tr>
                    <tr>
                        <td>Nomor HP</td>
                        <td>: <span id="nomor-hp"></span></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>: <span id="email"></span></td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>: <span id="alamat"></span></td>
                    </tr>
                    <tr>
                        <td>Produk</td>
                        <td>: <span id="jumlah-items"></span> Items</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td style="font-weight: bold;">: Rp. <span id="total-harga"></span></td>
                    </tr>
                </table>
                <button id="pesan-btn">Pesan</button>
            </div>

        </div>
    </div> 
    <!-- script ionic icon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- jquery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script>
        // main.js
        $(document).ready(function () {

           // Handle klik tombol kurang
            $(".btn-kurang").click(function () {
                var produkId = $(this).data("produk-id");
                var quantityElement = $(".jumlah-item[data-produk-id='" + produkId + "']");
                var currentQuantity = parseInt(quantityElement.text());

                // Cek apakah jumlah item sudah 1
                if (currentQuantity > 1) {
                    updateQuantity(produkId, -1);
                    updateStok(produkId, -1);  // Mengembalikan stok ketika tombol kurang ditekan
                }
            });

            // Handle klik tombol tambah
            $(".btn-tambah").click(function () {
                var produkId = $(this).data("produk-id");
                updateQuantity(produkId, 1);
                updateStok(produkId, 1);  // Mengurangi stok ketika tombol tambah ditekan
            });

            // Handle klik tombol checkout
            $("#checkout-btn").click(function () {
                window.location.href = "{% url 'checkout' %}";
            });

        // Handle klik tombol close
            $(".close-btn").click(function () {
                var produkId = $(this).data("produk-id");
                removeFromCart(produkId);
            });

        });

        function updateQuantity(produkId, amount) {
            $.ajax({
                type: "POST",
                url: "{% url 'update_quantity' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    produk_id: produkId,
                    amount: amount
                },
                success: function (data) {
                    if (data.success) {
                        // Refresh halaman setelah pembaruan berhasil
                        window.location.reload();
                    } else {
                        alert("Gagal memperbarui jumlah item: " + data.message);
                    }
                },
                error: function () {
                    alert("Terjadi kesalahan saat mengirim permintaan.");
                }
            });
        }

        function removeFromCart(produkId) {
            $.ajax({
                type: "POST",
                url: "{% url 'remove_cart_item' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    produk_id: produkId
                },
                success: function (data) {
                    if (data.success) {
                        // Refresh halaman setelah penghapusan berhasil
                        window.location.reload();
                    } else {
                        alert("Gagal menghapus item dari keranjang: " + data.message);
                    }
                },
                error: function () {
                    alert("Terjadi kesalahan saat mengirim permintaan.");
                }
            });
        }


    </script>


    <!-- pesan via wa -->
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "{% url 'get_order_summary' %}",
                success: function (data) {
                    $("#nama-user").text(data.order_summary.nama_user);
                    $("#nomor-hp").text(data.order_summary.nomor_hp);
                    $("#email").text(data.order_summary.email);
                    $("#alamat").text(data.order_summary.alamat);
                    $("#jumlah-items").text(data.order_summary.jumlah_items);
                    $("#total-harga").text(data.order_summary.total_harga);
                },
                error: function () {
                    alert("Terjadi kesalahan saat mengambil data order summary.");
                }
            });

            $("#pesan-btn").click(function () {
                $.ajax({
                    type: "GET",
                    url: "{% url 'send_order_whatsapp' %}",
                    success: function (data) {
                        // Buka tab baru dengan URL WhatsApp
                        window.open(data.whatsapp_url, '_blank');
                    },
                    error: function () {
                        alert("Terjadi kesalahan saat mengirim pesanan.");
                    }
                });
            });
        });
    </script>

</body>
</html>