<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOKO KAIN</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <!-- Favicons -->
    <link href="{%static 'img/logo.svg'%}" rel="icon">
    <style>
        .content2 .order{
            margin-bottom: 50px;
        }
        .content2 .summray table tr td span{
            color: rgb(11, 11, 11);
        }

        /* mobile mode */
        @media only screen and (max-width: 790px) { /*batas max*/
            nav{
                padding: 15px 20px;
            }
            .container{
                /* background-color: rgb(204, 248, 197); */
                margin: 0 20px;
            }
            .container .content2{
                flex-direction: column;
                padding-bottom: 20px;
            }
            .content2 .summray{
                width: 100%;
            }
            .content2 .order{
                width: 100%;
            }
        }

        /* tablet mode */
        @media only screen and (min-width: 692px) {
            .container .content2{
                background-color: blue;
            }
        }

    </style>
</head>
<body>
    <!-- Modal -->
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}" style="text-decoration: none; color: #6C9E03; display: flex; gap: 10px; align-items: center;">
                <img src="{% static 'img/logo.svg' %}" alt="">
                 <h3><a href="{% url 'index' %}" style="text-decoration: none; color: var(--dua)">TOKO KAIN</a></h3>
             </a>
        </div>
    </nav>
    <!-- conten -->
    <div class="container">
        <div class="content1">
            <div class="title">
                <h3>Checkout</h3>
                <p>Hello 👋 {{user}}</p>
            </div>
            
        </div>

        <div class="content2">
            <!-- cart.html -->
            <div class="order">
                {% if cart_items %}
                    {% for item in cart_items %}
                        <div class="cart">
                            <img src="{{ item.produk.img_produk.url }}" alt="">
                            <div class="card">
                                <table>
                                    <tr>
                                        <td>Nama Produk</td>
                                        <td>: {{ item.produk.nama_produk }}</td>
                                    </tr>
                                    <tr>
                                        <td>Harga</td>
                                        <td>: Rp. {{ item.produk.harga }}</td>
                                    </tr>
                                    <tr>
                                        <td>Stok </td>
                                        <td>: {{ item.produk.stok }} buah</td>
                                    </tr>
                                    <tr>
                                        <td>Jumlah </td>
                                        <td>
                                            <div class="qty">
                                                <button class="btn-kurang" data-produk-id="{{ item.produk.id }}">-</button>
                                                <p class="jumlah-item" data-produk-id="{{ item.produk.id }}">{{ item.quantity }}</p>
                                                <button class="btn-tambah" data-produk-id="{{ item.produk.id }}">+</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                
                                <ion-icon name="close-circle" class="close-btn" data-produk-id="{{ item.produk.id }}"></ion-icon>
                                <div class="retings">
                                    {% if item.produk.rettings  == 1.00 %}
                                        <ion-icon name="star"></ion-icon>
                                        {{ item.produk.rettings }} 
                                    {% elif item.produk.rettings  == 2.00  %}  
                                        <ion-icon name="star"></ion-icon> 
                                        <ion-icon name="star"></ion-icon> 
                                        {{ item.produk.rettings }}                          
                                    {% elif item.produk.rettings  == 3.00  %}  
                                        <ion-icon name="star"></ion-icon> 
                                        <ion-icon name="star"></ion-icon> 
                                        <ion-icon name="star"></ion-icon> 
                                        {{ item.produk.rettings }}                          
                                    {% elif item.produk.rettings  == 4.00  %}  
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon> 
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon> 
                                        {{ item.produk.rettings }}                          
                                    {% else %}
                                        <ion-icon name="star"></ion-icon> 
                                        <ion-icon name="star"></ion-icon> 
                                        <ion-icon name="star"></ion-icon> 
                                        <ion-icon name="star"></ion-icon> 
                                        <ion-icon name="star"></ion-icon> 
                                        {{ item.produk.rettings }}                          
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Keranjang belanja Anda kosong.</p>
                {% endif %}
            </div>


            <!-- summary -->
            <div class="summray">
                <div class="title">
                    <h3>Order Summary</h3>
                    <hr>
                </div>
                <table>
                    <tr>
                        <td style="width: 30%;">User</td>
                        <td>: <span id="nama-user"></span></td>
                    </tr>
                    <tr>
                        <td>Nomor HP</td>
                        <td>: <span id="nomor-hp"></span></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>: <span id="email"></span></td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>: <span id="alamat"></span></td>
                    </tr>
                    <tr>
                        <td>Produk</td>
                        <td>: <span id="jumlah-items"></span> Items</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td style="font-weight: bold;">: Rp. <span id="total-harga"></span></td>
                    </tr>
                </table>
            
                {% if order_error %}
                    <div class="error-message">
                        {{ order_error }}
                    </div>
                {% else %}
                    <button id="pesan-btn">Pesan</button>
                {% endif %}
            </div>

        </div>
    </div> 
    <!-- script ionic icon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- jquery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <script>
        // main.js
        $(document).ready(function () {

           // Handle klik tombol kurang
            $(".btn-kurang").click(function () {
                var produkId = $(this).data("produk-id");
                var quantityElement = $(".jumlah-item[data-produk-id='" + produkId + "']");
                var currentQuantity = parseInt(quantityElement.text());

                // Cek apakah jumlah item sudah 1
                if (currentQuantity > 1) {
                    updateQuantity(produkId, -1);
                    updateStok(produkId, -1);  // Mengembalikan stok ketika tombol kurang ditekan
                }
            });

            // Handle klik tombol tambah
            $(".btn-tambah").click(function () {
                var produkId = $(this).data("produk-id");
                updateQuantity(produkId, 1);
                updateStok(produkId, 1);  // Mengurangi stok ketika tombol tambah ditekan
            });

            // Handle klik tombol checkout
            $("#checkout-btn").click(function () {
                window.location.href = "{% url 'checkout' %}";
            });

        // Handle klik tombol close
            $(".close-btn").click(function () {
                var produkId = $(this).data("produk-id");
                removeFromCart(produkId);
            });

        });

        function updateQuantity(produkId, amount) {
            $.ajax({
                type: "POST",
                url: "{% url 'update_quantity' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    produk_id: produkId,
                    amount: amount
                },
                success: function (data) {
                    if (data.success) {
                        // Refresh halaman setelah pembaruan berhasil
                        window.location.reload();
                    } else {
                        alert("Gagal memperbarui jumlah item: " + data.message);
                    }
                },
                error: function () {
                    alert("Terjadi kesalahan saat mengirim permintaan.");
                }
            });
        }

        function removeFromCart(produkId) {
            $.ajax({
                type: "POST",
                url: "{% url 'remove_cart_item' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    produk_id: produkId
                },
                success: function (data) {
                    if (data.success) {
                        // Refresh halaman setelah penghapusan berhasil
                        window.location.reload();
                    } else {
                        alert("Gagal menghapus item dari keranjang: " + data.message);
                    }
                },
                error: function () {
                    alert("Terjadi kesalahan saat mengirim permintaan.");
                }
            });
        }


    </script>

    <!-- pesan via wa -->
    <script>
        $(document).ready(function () {
            // mengambil data untuk order summary
            $.ajax({
                type: "GET",
                url: "{% url 'get_order_summary' %}",
                success: function (data) {
                    $("#nama-user").text(data.order_summary.nama_user);
                    $("#nomor-hp").text(data.order_summary.nomor_hp);
                    $("#email").text(data.order_summary.email);
                    $("#alamat").text(data.order_summary.alamat);
                    $("#jumlah-items").text(data.order_summary.jumlah_items);
                    $("#total-harga").text(data.order_summary.total_harga);
    
                    if (data.error) {
                        $(".summray").append(`<div class="error-message">${data.error}</div>`);
                        $("#pesan-btn").hide();
                    }
                },
                error: function (data) {
                    console.log("keranjang kosong!");
                    let halamUtama = window.location.href = "{% url 'index' %}";
                    alert("Keranjang Kosong! Silahkan Masukan Item ke Keranjang", halamUtama);
                    
                }
            });
    
            // menangani redirect ke Whatsapp
            $("#pesan-btn").click(function () {
                $.ajax({
                    type: "GET",
                    url: "{% url 'send_order_whatsapp' %}",
                    success: function (data) {
                        // Buka tab baru dengan URL WhatsApp
                        window.open(data.whatsapp_url, '_blank');
                        
                    },
                    error: function () {
                        // let halamUtama = window.location.href = "{% url 'cart' %}";
                        // alert("Terjadi kesalahan saat mengirim pesanan.", halamUtama);
                        // window.location.href = "{% url 'cart' %}";
                        window.reload();
                    }
                });
            });

            // menagani data pesanan disimpan ke db
            $("#pesan-btn").click(function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'save_order' %}",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function (data) {
                        if (data.success) {
                            // Buka tab baru dengan URL WhatsApp
                            window.open(data.whatsapp_url, '_blank');
                        } else {
                            alert("Terjadi kesalahan saat menyimpan pesanan.");
                        }
                    },
                    error: function () {
                      window.location.href = "{% url 'cart' %}";
                        // let halamUtama = window.location.href = "{% url 'cart' %}";
                        // alert("Terjadi kesalahan saat mengirim pesanan.", halamUtama)

                    }
                });
            });

        });
    </script>


</body>
</html>